
<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="geoloc">
        <ion-icon name="locate"></ion-icon>
        <ion-label>Localización</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="mapa">
        <ion-icon name="map"></ion-icon>
        <ion-label>Mapa</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="trak">
        <ion-icon name="navigate"></ion-icon>
        <ion-label>Track</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
</ion-content>