<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GEOLOCALIZACIÓN
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Geolocalización</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Haz click para obtener tu latitud y tu longitud actual</p>
      <ion-row *ngIf="latitude">
        <ion-text class="coords">Tu latitud es: {{latitude}}</ion-text>
      </ion-row>
      <ion-row *ngIf="longitude">
        <ion-text class="coords">Tu longitud es: {{longitude}}</ion-text>
      </ion-row>
      <ion-button (click)="getLocalizacion()" expand="full">Localízame</ion-button>
    </ion-card-content>
  </ion-card>
